.hmenu{
    padding: 1%;
    background: #e6e6e6;
}
.hcheck, .hclose { display: none; }
.hopen {
    display: block;
    width: 58px;
    cursor: pointer;
}
.hopen img {
    display: block; 
}
.hclose, nav {
    left: 0;
    top: 0;
    height: 100%;
}
.hclose{
    z-index: 2;
    width: 100%;
    background: black;
    opacity: .5;
    transition: .5s;
}

nav li {
    color: #ffffff;
    background-color: #000000;
    display: block;
    border: 1px;
    border-style:solid;
    border-color: #ffffff;
    padding: 1.5%;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

nav ul {
    display: flex;
}

.swiper-wrapper {
    width: auto;
}

.room {
    width: auto;
    display: flex;
}